@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@model Nop.Plugin.Payments.PayFast.Models.PaymentResultModel
@using Nop.Web.Framework;
<table width="100%" cellspacing="2" cellpadding="1" border="0"><tr><td align=center>
<table width="40%" cellspacing="2" cellpadding="1" border="0">
	<tr>
		<td colspan="2" align="center">
			<b>There was a problem with your credit card payment. <br />Please click details below and then try complete the payment again.</b>
		</td>
	</tr>
	 <tr>
		<td class="adminTitle">
				@Html.NopLabelFor(model => model.Message):
			</td>
			<td class="adminData">
				@Html.EditorFor(model => model.Message)
			</td>
		</tr>        
		<tr>
		<td class="adminTitle" align="left">
		   <input type="button" name="orderdetails" value="@T("Account.CustomerOrders.OrderDetails")" id="orderdetails" class="orderdetailsbutton" onclick="setLocation('@(@Url.RouteUrl("OrderDetails", new { orderId = Model.OrderID }))')" />
		</td>
		</tr>
 </table>
 </td></tr>
 </table>
